{% extends "layout.html" %}
{% block content %}
<form method="POST" action="">
    {{ form_settings.hidden_tag() }}
    {{ form_settings.current_month_date.label }}    
    {{ form_settings.current_month_date(value=settings.current_month_date) }}    
    {{ form_settings.submit }}    
</form>

<table>
    <tr>
        <th>Date</th>
        <th>Hours</th>
        <th>Data Science</th>
        <th>Developer</th>
        <th>Poliglote</th>
        <th>Gentleman Explorer</th>
        <th>Create, Think, Read</th>
        <th>Home, Son</th>
        <th>Total Productive</th>
        <th>% of Target</th>
        <th>% cum</th>
        <th>Total Negative</th>
        <th>SJA</th>
        <th>ML cum avg</th>
    </tr>
{% for day in days %}
    <tr>
        <th class="day_date {{ day.style_today_tr_hd }}"><a href="{{ url_for('edit_day', id_day=day.id) }}">{{ day.id.strftime('%b %e') }}</a></th>
        <td class="{{ day.style_today_tr_td}}">{{ f_string_from_duration(day.s_TargetHours) }}</td>
        <td class="{{ day.style_today_tr_td}}">{{ f_string_from_duration(day.ds) }}</td>
        <td class="{{ day.style_today_tr_td}}">{{ f_string_from_duration(day.dev) }}</td>
        <td class="{{ day.style_today_tr_td}}">{{ f_string_from_duration(day.pol) }}</td>
        <td class="{{ day.style_today_tr_td}}">{{ f_string_from_duration(day.ge) }}</td>
        <td class="{{ day.style_today_tr_td}}">{{ f_string_from_duration(day.crt) }}</td>
        <td class="{{ day.style_today_tr_td}}">{{ f_string_from_duration(day.hs) }}</td>
        <td class="{{ day.style_today_tr_td}}">{{ f_string_from_duration(day.s_TotalProductive) }}</td>
        <td class="{{ day.style_today_tr_td}}">{{ '{:0.0%}'.format(day.s_PercOfTarget) }}</td>
        <td class="{{ day.style_today_tr_td}}">{{ '{:0.0%}'.format(day.cum_PercOfTarget) }}</td>
        <td class="{{ day.style_today_tr_td}}">{{ f_string_from_duration(day.s_TotalNegative) }}</td>
        <td class="{{ day.style_today_tr_td}}">{{ f_string_from_float(day.alk) }}</td>
        <td class="{{ day.style_today_tr_td}}">{{ '{:0,.0f}'.format(day.cum_alk) }}</td>
    </tr>
{% endfor %}
    <tr>
        <th>Total</th>
        <th>{{ f_string_from_duration(row_with_totals.targethours, 'hm') }}</th>
        <th>{{ f_string_from_duration(row_with_totals.ds, 'hm') }}</th>
        <th>{{ f_string_from_duration(row_with_totals.dev, 'hm') }}</th>
        <th>{{ f_string_from_duration(row_with_totals.pol, 'hm') }}</th>
        <th>{{ f_string_from_duration(row_with_totals.ge, 'hm') }}</th>
        <th>{{ f_string_from_duration(row_with_totals.crt, 'hm') }}</th>
        <th>{{ f_string_from_duration(row_with_totals.hs, 'hm') }}</th>
        <th>{{ f_string_from_duration(row_with_totals.totalproductive, 'hm') }}</th>
    </tr>
</table>

{% endblock content %}