{% extends "layout.html" %}
{% block content %}
<div class="graphs">
    <div>{{ bokeh_daily_div | safe }}</div>
    <div>{{ bokeh_monthly_div | safe }}</div>
    <div>{{ month_summary_table | safe }}</div>
</div>
<form method="POST" action="">
    {{ form_settings.hidden_tag() }}
    {{ form_settings.current_month_date.label }}    
    {{ form_settings.current_month_date(value=settings.current_month_date) }}    
    {{ form_settings.submit }}    
</form>
<table>
    <tr>
        <th>Date</th>
        <th>Hours</th>
        <th>Data Science</th>
        <th>Developer</th>
        <th>Poliglote</th>
        <th>Gentleman Explorer</th>
        <th>Create, Think, Read</th>
        <th>Home, Son</th>
        <th>Total Productive</th>
        <th>% of Target</th>
        <th>% cum</th>
        <th>Total Negative</th>
        <th>SJA</th>
        <th>ML cum avg</th>
    </tr>
{% for day in days %}
    <tr>
        <th class="day_date {{ day.style_today_tr_hd }}"><a href="{{ url_for('edit_day', id_day=day.id) }}">{{ day.id.strftime('%b %e') }}</a></th>
        <td class="{{ day.style_today_tr_td}}">{{ f_string_from_duration(day.s_TargetHours) }}</td>
        <td class="{{ day.style_today_tr_td}}">{{ f_string_from_duration(day.ds) }}</td>
        <td class="{{ day.style_today_tr_td}}">{{ f_string_from_duration(day.dev) }}</td>
        <td class="{{ day.style_today_tr_td}}">{{ f_string_from_duration(day.pol) }}</td>
        <td class="{{ day.style_today_tr_td}}">{{ f_string_from_duration(day.ge) }}</td>
        <td class="{{ day.style_today_tr_td}}">{{ f_string_from_duration(day.crt) }}</td>
        <td class="{{ day.style_today_tr_td}}">{{ f_string_from_duration(day.hs) }}</td>
        <td class="{{ day.style_today_tr_td}}">{{ f_string_from_duration(day.s_TotalProductive) }}</td>
        <td class="{{ day.style_today_tr_td}}">{{ '{:0.0%}'.format(day.s_PercOfTarget) }}</td>
        <td class="{{ day.style_today_tr_td}}">{{ '{:0.0%}'.format(day.cum_PercOfTarget) }}</td>
        <td class="{{ day.style_today_tr_td}}">{{ f_string_from_duration(day.s_TotalNegative) }}</td>
        <td class="{{ day.style_today_tr_td}}">{{ f_string_from_float(day.alk) }}</td>
        <td class="{{ day.style_today_tr_td}}">{{ '{:0,.0f}'.format(day.cum_alk) }}</td>
        <td><meter style="width:40px" id="fuel" min="0" low="3.89" optimum="2.86" high="6" max="8" value="{{day.alk}}"></meter></td>
    </tr>
{% endfor %}
<!-- Summary field -->
    <tfoot>
        <tr>
            <th>Total</th>
            <th>{{ f_string_from_duration(row_with_totals.targethours, 'hm') }}</th>
            <th>{{ f_string_from_duration(row_with_totals.ds, 'hm') }}</th>
            <th>{{ f_string_from_duration(row_with_totals.dev, 'hm') }}</th>
            <th>{{ f_string_from_duration(row_with_totals.pol, 'hm') }}</th>
            <th>{{ f_string_from_duration(row_with_totals.ge, 'hm') }}</th>
            <th>{{ f_string_from_duration(row_with_totals.crt, 'hm') }}</th>
            <th>{{ f_string_from_duration(row_with_totals.hs, 'hm') }}</th>
            <th>{{ f_string_from_duration(row_with_totals.totalproductive, 'hm') }}</th>
            <th></th>
            <th></th>
            <th>{{ f_string_from_duration(row_with_totals.totalnegative, 'hm') }}</th>
            <th>{{ row_with_totals.totalsja }}</th>
            <th>{{ row_with_totals.totalml }}</th>
        </tr>
        <tr>
            <th>Plan-Today</th>
            <th>{{ f_string_from_duration(row_with_totals.targethours_tilltoday, 'hm') }}</th>
            <th>{{ f_string_from_duration(row_with_totals.ds_tilltoday, 'hm') }}</th>
            <th>{{ f_string_from_duration(row_with_totals.dev_tilltoday, 'hm') }}</th>
            <th>{{ f_string_from_duration(row_with_totals.pol_tilltoday, 'hm') }}</th>
            <th>{{ f_string_from_duration(row_with_totals.ge_tilltoday, 'hm') }}</th>
            <th>{{ f_string_from_duration(row_with_totals.crt_tilltoday, 'hm') }}</th>
            <th>{{ f_string_from_duration(row_with_totals.hs_tilltoday, 'hm') }}</th>
            <th>{{ f_string_from_duration(row_with_totals.total_tilltoday, 'hm') }}</th>
            <th></th>
            <th></th>
            <th>0-Days</th>
            <th>{{ row_with_totals.totaldays0 }}</th>
            <th></th>
        </tr>
        <tr>
            <th>Backlog</th>
            <th></th>
            <th>{{ row_with_totals.ds_backlog }}</th>
            <th>{{ row_with_totals.dev_backlog }}</th>
            <th>{{ row_with_totals.pol_backlog }}</th>
            <th>{{ row_with_totals.ge_backlog }}</th>
            <th>{{ row_with_totals.crt_backlog }}</th>
            <th>{{ row_with_totals.hs_backlog }}</th>
            <th>{{ row_with_totals.total_backlog }}</th>
            <th></th>
            <th></th>
            <th>{{ row_with_totals.totaldays0 - monthlytargets.days0 }}</th>
            <th>{{ f_round(monthlytargets.alk - row_with_totals.totalsja, 2) }}</th>         
            <th>{{ monthlytargets.ml - row_with_totals.totalml}}</th>   
        </tr>
        <tr>
            <th>Targets</th>
            <th></th>
            <th>{{ f_string_from_duration(monthlytargets.ds, 'hm') }}</th>
            <th>{{ f_string_from_duration(monthlytargets.dev, 'hm') }}</th>
            <th>{{ f_string_from_duration(monthlytargets.pol, 'hm') }}</th>
            <th>{{ f_string_from_duration(monthlytargets.ge, 'hm') }}</th>
            <th>{{ f_string_from_duration(monthlytargets.crt, 'hm') }}</th>
            <th>{{ f_string_from_duration(monthlytargets.hs, 'hm') }}</th>
            <th>{{ f_string_from_duration(monthlytargets.total_allocated, 'hm') }}</th>
            <th><a href="{{ url_for('edit_month_target', id_month=monthlytargets.id) }}">Edit</a></th>  
            <th></th>
            <th>{{ monthlytargets.days0 }}</th>         
            <th>{{ monthlytargets.alk }}</th>         
            <th>{{ monthlytargets.ml }}</th>         
        </tr>
    </tfoot>
</table>


<footer>
    <a href="{{ url_for('export_db')}}">Export to Excel</a>
    <a href="{{ url_for('import_db')}}">Import from Excel</a>
</footer>
{% endblock content %}