<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% if title %}
        <title>{{ title }}</title>      
    {% else %}
        <title>Document</title>
    {% endif%}
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css')}}">
    <script src="https://cdn.bokeh.org/bokeh/release/bokeh-2.2.3.min.js" crossorigin="anonymous"></script>
    <script src="https://cdn.bokeh.org/bokeh/release/bokeh-widgets-2.2.3.min.js" crossorigin="anonymous"></script>
<script src="https://cdn.bokeh.org/bokeh/release/bokeh-tables-2.2.3.min.js" crossorigin="anonymous"></script>
</head>
<body>
    {% block content %}{% endblock %}

    {{ bokeh_daily_script | safe }}
</body>
</html>
